* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }

  h1,h2 {
    text-align: center;
    padding: 20px 0;
  }

  ul {
    padding: 20px;
  }

  section {
    padding: 20px 0;
  }

  footer {
    padding: 20px 0;
  }

  iframe#cv {
    width: 300;
    height: auto;
  }

iframe#videoyoutube {
    width: 853;
    height: auto;
}