* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

label {
    width: 200px;
    display: inline-block;
}

input, select, textarea, ul, p {
    margin-top: 15px;
}